.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #DCE1E5;
  border-radius: 12px;
  padding: 20px;
  font-family: "Inter", "Arial", sans-serif;

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
    }

    &__title {
      text-decoration: none;
      color: #000;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.45;
      letter-spacing: 0.352px;
      cursor: pointer;
      transition: opacity .2s ease-in;

      &:hover {
        opacity: 0.5;
      }

      &_notFound {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.45;
        letter-spacing: 0.352px;
        text-align: center;
      }
    }

    &__titleHiglight {
      font-weight: 900;
    }

    &__description {
      max-width: 800px;
      margin: 10px 0;
      font-size: 17px;
      line-height: 1.65;
      letter-spacing: -0.442px;
      color: #686E73;
    }

    &__list {
      display: flex;
      gap: 16px;
    }

    &__listItem {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.33;
      letter-spacing: -0.24px;

      &:last-child {
        color: #1E5CF0;
        path {
          stroke: #1E5CF0;
        }
      }
    }

    &__cardContainer {
      display: flex;
      align-items: center;
      border-left: 1px solid #DCE1E5;
      padding-left: 20px;
      width: 300px;
      flex: none;

      @media screen and (max-width: 700px) {
        border-left: 0;
        border-top: 1px solid #DCE1E5;
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
      }
    }

    &__link {
      display: flex;
      text-decoration: none;
      color: #000;
      cursor: pointer;
      transition: opacity .2s ease-in;

      &:hover {
        opacity: 0.7;
      }
    }

    &__image {
      object-fit: contain;
      max-width: 56px;
    }

    &__authorContainer {
      display: flex;
      align-self: center;
      flex-direction: column;
      margin-left: 20px;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.33;
      color: #686E73;
      text-transform: uppercase;
    }
}